<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/editprofile.css">
</head>
<body>
    <%- include('./header.ejs'); %>
    <form action="/editProfile" method="post">
        <div class="sell">
            <h1>Edit profile</h1>
        </div>
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" id="" placeholder="email" required>
         <input type="text" name="mobile" placeholder="mobile" required>
         <input type="submit" value="submit" >
    </form>
    <%- include('./footer.ejs'); %>
</body>
</html>