<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<header>
    <h1>E-WasteCare</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <select name="" id="select" onchange="location = this.value;">
                    <option value="/DashBoard">Services</option>
                    <option value="/DashBoard">DashBoard</option>
                    <option value="/product">Product</option>
                    <option value="/register">Register</option>
                    <option value="/sellProduct">Sell</option>
                   <option value="/cart">Cart</option>
                   <option value="/Quiz">Quiz</option>
                   <option value="/edit">EditProfile</option>
                   <option value="/productRecycle">ProductRecycle</option>
               
            </select></li>
            <li><a href="/product">Product</a></li>
            <li><a href="blog">Blogs</a></li>
            <li><a href="/Quiz">quiz</a></li>
            <% if (isLoggedIn) { %>
                <li><a href="/logout"><span class="material-symbols-outlined">
                    logout
                    </span></a></li>
            <% } else { %>
                <li><a href="/login"><span class="material-symbols-outlined">
                    Login
                    </span></a></li>
            <% } %>
               
        </ul>
    </nav>
</header>
